/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;
  /*========== Colors ==========*/
  --hue: 45;
  --sat: 98%;
  --first-color: hsl(var(--hue), var(--sat), 60%);
  --first-color-light: hsl(var(--hue), var(--sat), 85%);
  --first-color-lighten: hsl(var(--hue), var(--sat), 80%);
  --first-color-alt: hsl(var(--hue), var(--sat), 53%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 65%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #FFF;
  --scroll-bar-color: hsl(var(--hue), 4%, 85%);
  --scroll-thumb-color: hsl(var(--hue), 4%, 75%);
  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  /*========== Font weight ==========*/
  --font-semi-bold: 600;
  --font-bold: 700;
  /*========== Margenes ==========*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}


/* header */
header{


    border-bottom: 1px solid #f2f2f2;
    background-color: white;

}

.cart{
    justify-self: flex-end;
    padding-right: 8px;
}
#cart-btn{
    border: none;
    font-size: 1.5rem;
    background: none;
    color: var(--granite-gray);
    position: relative;
}
#cart-count-info{
    position: absolute;
    top: -12px;
    right: -8px;
    background: var(--fire-bush);
    color: #fff;
    font-size: 1rem;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
.cart-container{
    position: absolute;
    overflow-y: scroll;
   background-color: rgba(175, 46, 29, 0.842);
     background-position: center;
    background-size: cover;
    border-radius: 0px 20px 20px 20px ;
    width: 100%;
    padding: 10px;
    top: 100%;
    left: 0;
    right: 0;
    box-shadow: 0 3px 8px -2px rgba(0, 0, 0, 0.21);
    display: none;
}
.cart-container::-webkit-scrollbar{
    width: 0px;
}
.cart-container::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
/* js related class */
.show-cart-container{
    display: block;
}
/*  */
.cart-item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.5rem;
    align-items: center;
    position: relative;
    padding: 1.2rem 0.6rem;
    height: 140px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.21);
}
.cart-item:last-child{
    border-bottom: none;
}
.cart-item-del-btn{
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 0.05rem 0.45rem;
    font-size: 1.4rem;
    background: var(--fire-bush);
    border: none;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.cart-item img{
    width: 80px;
}
.cart-item-info{
    text-align: center;
}
.cart-item-info span{
    display: block;
}
.cart-total{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: var(--fire-bush);
    color: #fff;
}
.cart-total h3{
    margin-right: 0.2rem;
    font-size: 1.3rem;
}
#cart-total-value{
    font-size: 1.3rem;
    font-weight: 500;
}

.inforest h4
{
    color: #ffcc01;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 60px;
    margin-bottom: 55%;
    margin-left: 75%;
}
.inforest p
{
    color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    margin-bottom: -8%;
    margin-left: 33%;
}
.inforest h5
{
    color: azure;
    font-size: 20px;
    text-align: start;
    margin-bottom: 18%;
    margin-left: 135%;
}

*{
  font-family: "Syncopate", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  line-height: 1.5;
  color: #2D2B3A;
}

a {
  color: #6C55F9;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #ec6f4f;
  text-decoration: underline;
}


.text-xs {
  font-size: 12px !important;
}

.text-sm {
  font-size: 14px !important;
}

.text-md {
  font-size: 1rem !important;
}

.text-lg {
  font-size: 18px !important;
}

.text-xl {
  font-size: 20px !important;
}

/* Color systems */
.bg-primary {
  background-color: #6C55F9 !important;
}

a.bg-primary:hover, a.bg-primary:focus {
  background-color: #eb5a47 !important;
}

.bg-accent {
  background-color: #FF3D85 !important;
}

a.bg-accent:hover, a.bg-accent:focus {
  background-color: #e93577 !important;
}

.bg-secondary {
  background-color: #645F88 !important;
}

a.bg-secondary:hover, a.bg-secondary:focus {
  background-color: #59547c !important;
}

.bg-success {
  background-color: #35bb78 !important;
}

a.bg-success:hover, a.bg-success:focus {
  background-color: #28a868 !important;
}

.bg-info {
  background-color: #05B4E1 !important;
}

a.bg-info:hover, a.bg-info:focus {
  background-color: #07a2c8 !important;
}

.bg-warning {
  background-color: #FAC14D !important;
}

a.bg-warning:hover, a.bg-warning:focus {
  background-color: #ebb039 !important;
}

.bg-danger {
  background-color: #FF4943 !important;
}

a.bg-danger:hover, a.bg-danger:focus {
  background-color: #e73832 !important;
}

.bg-grey {
  background-color: #8e8aad !important;
}

a.bg-grey:hover, a.bg-grey:focus {
  background-color: #7d7a99 !important;
}

.bg-light {
  background-color: #F6F5FC !important;
}

a.bg-light:hover, a.bg-light:focus {
  background-color: #EDECF5 !important;
}

.bg-dark {
  background-color: #2D2B3A !important;
}

.banner_section_start{
	width: 100%;
	float: left;
	background-color: #fefcfb;
	height: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #000;
}

.main-menu ul li:first-child {
    margin-left: 0;
}
.main-menu ul>li {
    position: inherit;
    display: inline-block;
    vertical-align: middle;
}

.mean-container .mean-bar { background: #ed1c24;}

.main-menu ul > li.active a{ background-color: #ed1c24; color: #ffffff; }

.carousel-indicators .active {
    background-color: #fa3e19;
}

.carousel-indicators li { background-color: #000; height: 10px;}

.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #fa3e19;
    background-size: 100% 100%;
    padding-top: 8px;
}

.carousel-control-next {
    right: 1080px;
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 200px;
}

.carousel-control-prev {
    left: -137px;
    top: 87px;
}
.fa { line-height: 3px! important;}


a.bg-dark:hover, a.bg-dark:focus {
  background-color: #1d1b25 !important;
}

.text-primary {
  color: #00c010 !important;
}

a.text-primary:hover, a.text-primary:focus {
  color: #5d47eb !important;
}

.text-accent {
  color: #FF3D85 !important;
}

a.text-accent:hover, a.text-accent:focus {
  color: #e93577 !important;
}

.text-secondary {
  color: #645F88 !important;
}

a.text-secondary:hover, a.text-secondary:focus {
  color: #59547c !important;
}

.text-success {
  color: #35bb78 !important;
}

a.text-success:hover, a.text-success:focus {
  color: #28a868 !important;
}

.text-info {
  color: #05B4E1 !important;
}

a.text-info:hover, a.text-info:focus {
  color: #07a2c8 !important;
}

.text-warning {
  color: #FAC14D !important;
}

a.text-warning:hover, a.text-warning:focus {
  color: #ebb039 !important;
}

.text-danger {
  color: #FF4943 !important;
}

a.text-danger:hover, a.text-danger:focus {
  color: #e73832 !important;
}

.text-grey {
  color: #8e8aad !important;
}

a.text-grey:hover, a.text-grey:focus {
  color: #7d7a99 !important;
}

.text-light {
  color: #F6F5FC !important;
}

a.text-light:hover, a.text-light:focus {
  color: #EDECF5 !important;
}

.text-dark {
  color: #2D2B3A !important;
}

a.text-dark:hover, a.text-dark:focus {
  color: #1d1b25 !important;
}

.text-body {
  color: #3f3d4d !important;
}


.border-primary {
  border-color: #6C55F9 !important;
}

.border-accent {
  border-color: #FF3D85 !important;
}

.border-secondary {
  border-color: #645F88 !important;
}

.border-success {
  border-color: #35bb78 !important;
}

.border-info {
  border-color: #05B4E1 !important;
}

.border-warning {
  border-color: #FAC14D !important;
}

.border-danger {
  border-color: #FF4943 !important;
}

.border-grey {
  border-color: #B4B2C5 !important;
}

.border-light {
  border-color: #F6F5FC !important;
}

.border-dark {
  border-color: #2D2B3A !important;
}

/* Social Color */
.bg-facebook,
.bg-hover-facebook:hover,
.bg-focus-facebook:focus {
  background-color: #3B5999 !important;
}

.bg-twitter,
.bg-hover-twitter:hover,
.bg-focus-twitter:focus {
  background-color: #1DA1F2 !important;
}

.bg-google-plus,
.bg-hover-google-plus:hover,
.bg-focus-google-plus:focus {
  background-color: #DB4437 !important;
}

.bg-youtube,
.bg-hover-youtube:hover,
.bg-focus-youtube:focus {
  background-color: #CD201F !important;
}

.bg-dribbble,
.bg-hover-dribbble:hover,
.bg-focus-dribbble:focus {
  background-color: #EA4C89 !important;
}

.bg-pinterest,
.bg-hover-pinterest:hover,
.bg-focus-pinterest:focus {
  background-color: #BD081C !important;
}

.bg-slack,
.bg-hover-slack:hover,
.bg-focus-slack:focus {
  background-color: #3AAF85 !important;
}

.bg-linkedin,
.bg-hover-linkedin:hover,
.bg-focus-linkedin:focus {
  background-color: #0077B5 !important;
}

.fg-facebook,
.fg-hover-facebook:hover,
.fg-focus-facebook:focus {
  color: #3B5999 !important;
}

.fg-twitter,
.fg-hover-twitter:hover,
.fg-focus-twitter:focus {
  color: #1DA1F2 !important;
}

.fg-google-plus,
.fg-hover-google-plus:hover,
.fg-focus-google-plus:focus {
  color: #DB4437 !important;
}

.fg-youtube,
.fg-hover-youtube:hover,
.fg-focus-youtube:focus {
  color: #CD201F !important;
}

.fg-dribbble,
.fg-hover-dribbble:hover,
.fg-focus-dribbble:focus {
  color: #EA4C89 !important;
}

.fg-pinterest,
.fg-hover-pinterest:hover,
.fg-focus-pinterest:focus {
  color: #BD081C !important;
}

.fg-slack,
.fg-hover-slack:hover,
.fg-focus-slack:focus {
  color: #3AAF85 !important;
}

.fg-linkedin,
.fg-hover-linkedin:hover,
.fg-focus-linkedin:focus {
  color: #0077B5 !important;
}

.btn.social-facebook {
  background-color: #3B5999;
  color: #fff;
}

.btn.social-facebook:hover,
.btn.social-facebook:focus {
  background-color: #314e8f;
  color: #fff;
}

.btn.social-twitter {
  background-color: #1DA1F2;
  color: #fff;
}

.btn.social-twitter:hover,
.btn.social-twitter:focus {
  background-color: #0d92e4;
  color: #fff;
}

.btn.social-linkedin {
  background-color: #0077B5;
  color: #fff;
}

.btn.social-linkedin:hover,
.btn.social-linkedin:focus {
  background-color: #02659b;
  color: #fff;
}

.btn.google-plus {
  background-color: #DB4437;
  color: #fff;
}

.btn.google-plus:hover,
.btn.google-plus:focus {
  background-color: #ca3224;
  color: #fff;
}


/* Buttons */
.btn-primary {
  color: #fff;
  background: linear-gradient(-40deg, #ff0000, #f88585);
  border-color: transparent;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #5d47eb;
  border-color: transparent;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #f95555;
  border-color: #5d47eb;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-accent {
  color: #fff;
  background-color: #FF3D85;
  border-color: transparent;
}

.btn-accent.disabled, .btn-accent:disabled {
  color: #fff;
  background-color: #e93577;
  border-color: transparent;
}

.btn-accent:not(:disabled):not(.disabled):active, .btn-accent:not(:disabled):not(.disabled).active,
.show > .btn-accent.dropdown-toggle {
  color: #fff;
  background-color: #FF3D85;
  border-color: #e93577;
}

.btn-accent:not(:disabled):not(.disabled):active:focus, .btn-accent:not(:disabled):not(.disabled).active:focus,
.show > .btn-accent.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-secondary {
  color: #fff;
  background-color: #645F88;
  border-color: transparent;
}

.btn-secondary.disabled, .btn-secondary:disabled {
  color: #fff;
  background-color: #59547c;
  border-color: transparent;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #645F88;
  border-color: #59547c;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-success {
  color: #fff;
  background-color: #35bb78;
  border-color: transparent;
}

.btn-success.disabled, .btn-success:disabled {
  color: #fff;
  background-color: #28a868;
  border-color: transparent;
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #35bb78;
  border-color: #28a868;
}

.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-info {
  color: #fff;
  background-color: #05B4E1;
  border-color: transparent;
}

.btn-info.disabled, .btn-info:disabled {
  color: #fff;
  background-color: #07a2c8;
  border-color: transparent;
}

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #05B4E1;
  border-color: #07a2c8;
}

.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-warning {
  color: #343531;
  background-color: #FAC14D;
  border-color: transparent;
}

.btn-warning.disabled, .btn-warning:disabled {
  color: #343531;
  background-color: #ebb039;
  border-color: transparent;
}

.btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active,
.show > .btn-warning.dropdown-toggle {
  color: #343531;
  background-color: #FAC14D;
  border-color: #ebb039;
}

.btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-warning.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-danger {
  color: #fff;
  background-color: #FF4943;
  border-color: transparent;
}

.btn-danger.disabled, .btn-danger:disabled {
  color: #fff;
  background-color: #e73832;
  border-color: transparent;
}

.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #FF4943;
  border-color: #e73832;
}

.btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-light {
  color: #8e8aad;
  background-color: #F5F9F6;
  border-color: transparent;
}

.btn-light:hover {
  color: #8e8aad;
  background-color: #F6F5FC;
  border-color: transparent;
}

.btn-light:focus, .btn-light.focus {
  color: #8e8aad;
  background-color: #d5dfdc;
  border-color: transparent;
  box-shadow: none;
}

.btn-light.disabled, .btn-light:disabled {
  color: #8e8aad;
  background-color: #d0ddd9;
  border-color: transparent;
}

.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
  color: #8e8aad;
  background-color: #F5F9F6;
  border-color: #d0ddd9;
}

.btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-light.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-dark {
  color: #fff;
  background-color: #2D2B3A;
  border-color: transparent;
}

.btn-dark.disabled, .btn-dark:disabled {
  color: #fff;
  background-color: #1d1b25;
  border-color: transparent;
}

.btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active,
.show > .btn-dark.dropdown-toggle {
  color: #fff;
  background-color: #2D2B3A;
  border-color: #1d1b25;
}

.btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-dark.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-primary:hover,
.btn-accent:hover,
.btn-secondary:hover,
.btn-success:hover,
.btn-info:hover,
.btn-warning:hover,
.btn-danger:hover,
.btn-dark:hover {
  color: #fff;
  background: linear-gradient(-40deg, #fa6363, #fab4b4);
  border-color: transparent;
}

.btn-primary:focus, .btn-primary.focus,
.btn-accent:focus, .btn-accent.focus,
.btn-secondary:focus, .btn-secondary.focus,
.btn-success:focus, .btn-success.focus,
.btn-info:focus, .btn-info.focus,
.btn-warning:focus, .btn-warning.focus,
.btn-danger:focus, .btn-danger.focus,
.btn-dark:focus, .btn-dark.focus {
  color: #fff;
  background-color: #8e8aad;
  border-color: transparent;
  box-shadow: none;
}

.btn-outline-primary {
  color: #6C55F9;
  border-color: #6C55F9;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #6C55F9;
  border-color: #6C55F9;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: none;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #6C55F9;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #6C55F9;
  border-color: #6C55F9;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-outline-accent {
  color: #FF3D85;
  border-color: #FF3D85;
}

.btn-outline-accent:hover {
  color: #fff;
  background-color: #FF3D85;
  border-color: #FF3D85;
}

.btn-outline-accent:focus, .btn-outline-accent.focus {
  box-shadow: none;
}

.btn-outline-accent.disabled, .btn-outline-accent:disabled {
  color: #FF3D85;
  background-color: transparent;
}

.btn-outline-accent:not(:disabled):not(.disabled):active, .btn-outline-accent:not(:disabled):not(.disabled).active,
.show > .btn-outline-accent.dropdown-toggle {
  color: #fff;
  background-color: #FF3D85;
  border-color: #FF3D85;
}

.btn-outline-accent:not(:disabled):not(.disabled):active:focus, .btn-outline-accent:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-accent.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-outline-secondary {
  color: #645F88;
  border-color: #645F88;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #645F88;
  border-color: #645F88;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
  box-shadow: none;
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
  color: #645F88;
  background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #645F88;
  border-color: #645F88;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-outline-success {
  color: #35bb78;
  border-color: #35bb78;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #35bb78;
  border-color: #35bb78;
}

.btn-outline-success:focus, .btn-outline-success.focus {
  box-shadow: none;
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
  color: #35bb78;
  background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #35bb78;
  border-color: #35bb78;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-outline-info {
  color: #05B4E1;
  border-color: #05B4E1;
}

.btn-outline-info:hover {
  color: #fff;
  background-color: #05B4E1;
  border-color: #05B4E1;
}

.btn-outline-info:focus, .btn-outline-info.focus {
  box-shadow: none;
}

.btn-outline-info.disabled, .btn-outline-info:disabled {
  color: #05B4E1;
  background-color: transparent;
}

.btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active,
.show > .btn-outline-info.dropdown-toggle {
  color: #fff;
  background-color: #05B4E1;
  border-color: #05B4E1;
}

.btn-outline-info:not(:disabled):not(.disabled):active:focus, .btn-outline-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-info.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-outline-warning {
  color: #FAC14D;
  border-color: #FAC14D;
}

.btn-outline-warning:hover {
  color: #212529;
  background-color: #FAC14D;
  border-color: #FAC14D;
}

.btn-outline-warning:focus, .btn-outline-warning.focus {
  box-shadow: none;
}

.btn-outline-warning.disabled, .btn-outline-warning:disabled {
  color: #FAC14D;
  background-color: transparent;
}

.btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active,
.show > .btn-outline-warning.dropdown-toggle {
  color: #212529;
  background-color: #FAC14D;
  border-color: #FAC14D;
}

.btn-outline-warning:not(:disabled):not(.disabled):active:focus, .btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-warning.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-outline-danger {
  color: #FF4943;
  border-color: #FF4943;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #FF4943;
  border-color: #FF4943;
}

.btn-outline-danger:focus, .btn-outline-danger.focus {
  box-shadow: none;
}

.btn-outline-danger.disabled, .btn-outline-danger:disabled {
  color: #FF4943;
  background-color: transparent;
}

.btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active,
.show > .btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #FF4943;
  border-color: #FF4943;
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-danger.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-outline-light {
  color: #F6F5FC;
  border-color: #F6F5FC;
}

.btn-outline-light:hover {
  color: #343531;
  background-color: #F6F5FC;
  border-color: #F6F5FC;
}

.btn-outline-light:focus, .btn-outline-light.focus {
  box-shadow: none;
}

.btn-outline-light.disabled, .btn-outline-light:disabled {
  color: #F6F5FC;
  background-color: transparent;
}

.btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active,
.show > .btn-outline-light.dropdown-toggle {
  color: #343531;
  background-color: #F6F5FC;
  border-color: #F6F5FC;
}

.btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-light.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-outline-dark {
  color: #2D2B3A;
  border-color: #2D2B3A;
}

.btn-outline-dark:hover {
  color: #fff;
  background-color: #2D2B3A;
  border-color: #2D2B3A;
}

.btn-outline-dark:focus, .btn-outline-dark.focus {
  box-shadow: none;
}

.btn-outline-dark.disabled, .btn-outline-dark:disabled {
  color: #2D2B3A;
  background-color: transparent;
}

.btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active,
.show > .btn-outline-dark.dropdown-toggle {
  color: #fff;
  background-color: #2D2B3A;
  border-color: #2D2B3A;
}

.btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-dark.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-link {
  font-weight: 400;
  color: #5d47eb;
  text-decoration: none;
}

.btn-link:hover {
  color: #5641df;
  text-decoration: underline;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: underline;
}

.btn-link:disabled, .btn-link.disabled {
  color: #6b885f;
  pointer-events: none;
}


.btn {
  padding: 8px 24px;
}

.breadcrumb {
  font-weight: 500;
  background-color: #f8f9fa;
}

.breadcrumb .breadcrumb-item.active {
  color: #8e8aad;
}

.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  color: #8e8aad;
}

.breadcrumb-dark .breadcrumb-item a {
  color: #6C55F9;
}

.breadcrumb-dark .breadcrumb-item a:hover {
  color: #6C55F9;
  text-decoration: none;
}

.breadcrumb-dark .breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: rgba(255, 255, 255, 0.8);
  content: "/";
}

.breadcrumb-dark .breadcrumb-item.active {
  color: rgba(255, 255, 255, 0.8);
}


.navbar {
  min-height: 70px;
}

.navbar.sticky {
  z-index: 1080;
}

.navbar.sticky.fixed ~ * {
  margin-top: 70px;
}

.navbar.sticky.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  animation: navTransition .5s ease;
  box-shadow: 0 2px 6px rgba(100, 95, 136, 0.15);
  z-index: 1080;
}

@keyframes navTransition {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

.navbar-brand {
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-nav {
  margin-top: 10px;
  border-top: 1px solid #e4e7ee;
  flex-shrink: 0;
}

.navbar-nav .nav-link {
  transition: all .2s ease;
}

.navbar-nav .btn {
  font-size: 14px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(100, 95, 136, 0.75);
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: #645F88;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  font-weight: 500;
  color: #000000;
}


@media (min-width: 576px) {
  .navbar-expand-sm .navbar-nav {
    margin-top: 0;
    border-top: none;
  }
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 16px;
    padding-left: 16px;
  }
  .navbar-expand-sm .navbar-nav {
    align-items: center;
  }
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav {
    margin-top: 0;
    border-top: none;
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 16px;
    padding-left: 16px;
  }
  .navbar-expand-md .navbar-nav {
    align-items: center;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    margin-top: 0;
    border-top: none;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 16px;
    padding-left: 16px;
  }
  .navbar-expand-lg .navbar-nav {
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .navbar-expand-xl .navbar-nav {
    margin-top: 0;
    border-top: none;
  }
  .navbar-expand-xl .navbar-nav .nav-link {
    padding-right: 16px;
    padding-left: 16px;
  }
  .navbar-expand-xl .navbar-nav {
    align-items: center;
  }
}

.form-control {
  padding: 8px 15px;
  height: calc(1.5em + 1.375rem + 2px);
  border-color: #d6dbd9;
}

.custom-select {
  height: calc(1.5em + 1.375rem + 2px);
}

.page-link {
  margin-left: 5px;
  min-width: 40px;
  color: #B4B2C5;
  border: 1px solid #dee1e6;
  text-align: center;
  border-radius: 4px;
}

.page-link:hover {
  color: #645F88;
  background-color: #F6F5FC;
  border-color: #dee1e6;
}

.page-link:focus {
  box-shadow: none;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #6C55F9;
  border-color: #4330c2;
}

.page-item.disabled .page-link {
  color: #645F88;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}

.pagination-lg .page-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}


.img-place {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

.img-place img {
  width: auto;
  height: 100%;
}

.bg-image {
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-image > * {
  position: relative;
  z-index: 10;
}

.bg-image-parallax {
  background-attachment: fixed;
}

.bg-image-overlay-dark {
  position: relative;
}

.bg-image-overlay-dark::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #343531;
}

.bg-size-50 {
  background-size: 50% 50%;
}

.bg-size-75 {
  background-size: 75% 75%;
}

.bg-size-100 {
  background-size: 100% 100%;
}

.avatar {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.avatar-img {
  margin-right: 6px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-img img {
  width: 100%;
  height: 100%;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(224, 223, 233, 0.7);
  visibility: hidden;
  cursor: pointer;
  transition: all .2s ease;
  z-index: 1100;
}

.back-to-top::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: -4px auto;
  width: 12px;
  height: 12px;
  border-top: 2px solid #555;
  border-right: 2px solid #555;
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.back-to-top:hover {
  background: #f83131;
}

.back-to-top:hover::after {
  border-color: #fff;
}


.page-section {
  position: relative;
  padding-top: 80px;
  background-color:  #d8edf3;;
  padding-bottom: 80px;

}

.page-banner {
  position: relative;
  margin-top: 16px;
  margin-bottom: 16px;
  height: 320px;
  background-color: #F6F5FC;
  color: #645F88;
  border-radius: 30px;
  z-index: 10;
}

.page-banner.home-banner {
  height: auto;
}

.page-banner.home-banner .img-fluid {
  max-width: 400px;
  margin: 0 auto;
}

.page-banner.home-banner .btn-scroll {
  position: absolute;
  bottom: -14px;
  left: 0;
  right: 0;
  margin: auto;
  width: 26px;
  height: 40px;
  line-height: 44px;
  background-color: #fff;
  color: #645F88;
  text-align: center;
  border-radius: 40px;
  box-shadow: 0 2px 6px rgba(100, 95, 136, 0.24);
  transition: all .2s ease;
}

.page-banner.home-banner .btn-scroll:hover {
  text-decoration: none;
  background-color: #6C55F9;
  color: #fff;
}

@media (min-width: 768px) {
  .page-banner.home-banner {
    height: 540px;
  }
}

.page-hero.overlay-dark::before,
.page-banner.overlay-dark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 53, 49, 0.7);
  z-index: 1;
}

.page-banner .breadcrumb-item,
.page-banner .breadcrumb-item a {
  font-size: 14px;
}

.home-banner .row > *:first-child {
  padding-left: 8%;
}

.subhead {
  display: block;
  color: #000000;
    font-weight: 600;
font-size: 30px;
  margin-bottom: 8px;

}

.title-section {
  color: #02010c;
  font-weight: 600;
}

.divider {
  display: block;
  margin-top: 16px;
  margin-bottom: 32px;
  width: 82px;
  height: 3px;
  border-radius: 40px;
  background-color: #23df32;
}



.btn-split {
  display: inline-flex;
  align-items: center;
  border-radius: 40px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 6px;
}

.btn-split .fab {
  display: inline-block;
  margin-left: 12px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 32px;
  text-align: center;
  background-color: #fff;
  color: #6C55F9;
}


.card-service {
  display: block;
  margin: 16px auto;
  padding: 32px 20px;
  max-width: 300px;
  text-align: center;
  color: #898798;
  border-radius: 8px;
  box-shadow: 0 3px 12px rgba(95, 92, 120, 0.12);
}

.card-service .header {
  margin-bottom: 24px;
}

.img-stack-element {
  position: relative;
  text-align: center;
}

.img-stack-element svg {
  display: inline-block;
  max-width: 460px;
}

@media (min-width: 992px) {
  .img-stack-element {
    transform: translateX(50px);
  }
}


.features {
  text-align: center;
}

.features .header {
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  background-color: #fff;
  color: #6C55F9;
  font-size: 24px;
  box-shadow: 0 2px 4px rgba(95, 92, 120, 0.16);
}

.features h5 {
  color: #2D2B3A;
}

.features p {
  font-size: 13px;
  color: #898798;
}


.banner-seo-check {
  padding: 0;
  background-image: radial-gradient(circle, #B262F8 15%, #5439F8);
  color: #fff;
}

.banner-seo-check .wrap {
  padding: 80px 0;
}

.banner-seo-check form {
  position: relative;
}

.banner-seo-check form .form-control {
  border-color: transparent;
  height: calc(1.5em + 1.75rem + 2px);
  border-radius: 6px;
  box-shadow: none !important;
}

.banner-seo-check form .btn {
  position: absolute;
  top: 6px;
  right: 6px;
}


.card-pricing {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 32px 20px;
  max-width: 310px;
  background-color: #fff;
  color: #2D2B3A;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 4px 16px rgba(100, 95, 136, 0.16);
}

.card-pricing .header {
  padding-bottom: 24px;
}

.card-pricing .header .pricing-type {
  display: block;
  margin-top: 8px;
  margin-bottom: 12px;
  color: #898798;
}

.card-pricing .header .dollar {
  display: inline-block;
  vertical-align: top;
  font-weight: 700;
}

.card-pricing .header h1 {
  display: inline-block;
  font-weight: 600;
}

.card-pricing .header .suffix {
  font-size: 24px;
  color: #C9C7DC;
}

.card-pricing .header h5 {
  color: #6C55F9;
  text-transform: uppercase;
}

.card-pricing .body {
  padding-top: 24px;
  padding-bottom: 8px;
  border-top: 1px solid #DDDBEF;
  border-bottom: 1px solid #DDDBEF;
  font-weight: 500;
}

.card-pricing .body .suffix {
  color: #a4a1c8;
  font-weight: 400;
}

.card-pricing .footer {
  padding-top: 24px;
}

.card-pricing .footer .btn-pricing {
  background-color: #B8B4D5;
  color: #fff;
  box-shadow: none !important;
}

.card-pricing.marked {
  background-color: #6C55F9;
  color: #fff;
  box-shadow: 0 4px 16px rgba(107, 85, 249, 0.5);
}

.card-pricing.marked .header h5 {
  color: #fff;
}

.card-pricing.marked .header .pricing-type {
  color: #D7D5E9;
}

.card-pricing.marked .body .suffix {
  color: #D7D5E9;
}

.card-pricing.marked .footer .btn-pricing {
  background-color: #fff;
  color: #6C55F9;
  font-weight: 500;
}


.banner-info {
  padding: 0;
  background-color: #5439F8;
  color: rgba(255, 255, 255, 0.8);
}

.banner-info .wrap {
  padding: 80px 0;
}

.banner-info .title-section {
  color: #fff;
}

.banner-info .divider {
  background-color: #fff;
}


.card-blog {
  display: block;
  margin: 0 auto;
  max-width: 280px;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(100, 95, 136, 0.16);
  overflow: hidden;
}

.card-blog .header {
  background-color: #F6F5FC;
}

.card-blog .header .post-thumb {
  position: relative;
  display: block;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.card-blog .header .post-thumb img {
  width: auto;
  height: 100%;
}

.card-blog .body {
  padding: 20px;
}

.card-blog .post-title a {
  color: #645F88;
  transition: color .2s ease;
}

.card-blog .post-title a:hover,
.card-blog .post-title a:focus {
  color: #5641df;
  text-decoration: none;
}

.card-blog .post-date {
  font-size: 13px;
}

.form-search-blog .custom-select {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}



.page-footer {
  position: relative;
  display: block;
  padding-top: 80px;
  padding-bottom: 16px;
  background-color: #2D2B3A;
}

.page-footer p a {
  color: #35bb78;
  transition: color .2s ease;
}

.page-footer p a:hover {
  color: #40d48a;
}

.page-footer h3,
.page-footer h4,
.page-footer h5 {
  color: #fff;
  margin-bottom: 24px;
}

.page-footer p {
  color: #898798;
}

.footer-menu {
  position: relative;
  padding-left: 0;
  list-style: none;
}

.footer-menu li {
  margin-bottom: 12px;
}

.footer-link {
  display: inline-block;
  padding: 6px 0;
}

.footer-menu a,
.footer-link {
  color: #898798;
}

.footer-menu a:hover,
.footer-link:hover {
  color: #fff;
  text-decoration: none;
}
/* ---------------icon dyal social-------------- */
.social-media-button a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 44px;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  color: #898798;
  transition: all .2s linear;
}

.social-media-button a:hover {
  background-color: #f76161;
  color: #fff;
  text-decoration: none;
  transform: rotate(360deg);
}


.blog-single-wrap {
  display: block;
  padding: 50px 0;
}

.blog-single-wrap .header {
  margin-bottom: 32px;
  background-color: rgb(221, 76, 76);
  border-radius: 6px;
  box-shadow: 0 2px 12px rgba(100, 95, 136, 0.2);
  overflow: hidden;
}

.blog-single-wrap .header .post-thumb {
  width: 100%;
  height: 250px;
  background-color: #F6F5FC;
  overflow: hidden;
}

.blog-single-wrap .header .post-thumb img {
  width: 100%;
}

.blog-single-wrap .header .meta-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
  height: 50px;
  transform: translateY(-48px);
}

.blog-single-wrap .header .post-author .avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid #fff;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(137, 135, 152, 0.4);
  transform: translateY(10px);
}

.blog-single-wrap .header .post-author .avatar img {
  width: 100%;
  height: 100%;
}

.blog-single-wrap .header .post-sharer a  {
 padding: 5px 10px;
 line-height: 1;
 box-shadow: none !important;
}

.blog-single-wrap .header .post-sharer a[class='btn'] {
  background-color: #ec9d1e;
  color: #fff;
}

.blog-single-wrap .header .post-sharer a[class='btn']:hover {
  background-color: #d88d14;
  color: #fff;
}

.blog-single-wrap .post-title {
  font-weight: 500;
  color: #212529;
}

.blog-single-wrap .post-meta {
  display: block;
  margin-bottom: 24px;
}

.blog-single-wrap .post-meta .icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  background-color: #645F88;
  color: #fff;
}

.blog-single-wrap .post-meta .post-date,
.blog-single-wrap .post-meta .post-comment-count {
  display: inline-block;
}

.blog-single-wrap .post-meta .post-date a,
.blog-single-wrap .post-meta .post-comment-count a {
  color: #645F88;
}

.blog-single-wrap .post-content .quote {
  display: block;
  padding: 16px 20px;
  background-color: #6C55F9;
  color: #fff;
  font-size: 18px;
  border-radius: 8px;
}

.blog-single-wrap .post-content .quote .author {
  display: block;
  margin-top: 16px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}


.widget-box {
  display: block;
  padding: 20px;
  margin-bottom: 32px;
  border-radius: 6px;
  border: 1px solid #EDECF5;
  box-shadow: 0 3px 9px rgba(100, 95, 136, 0.15);
}

.widget-title {
  color: #6C55F9;
}

.search-widget .form-control {
  margin-bottom: 8px;
  background-color: #F6F5FC;
  border-color: transparent;
  box-shadow: none !important;
}

.search-widget .form-control:focus {
  border-color: #dee1e6;
}

.search-widget .btn {
  text-transform: uppercase;
}

.categories {
  position: relative;
  list-style: none;
  padding-left: 0;
}

.categories li a {
  display: block;
  padding: 6px;
  color: #a4a1c8;
  transition: all .2s ease;
}

.categories li a:hover {
  color: #6C55F9;
  text-decoration: none;
  font-weight: 500;
  text-shadow: 0 2px 4px rgba(107, 85, 249, 0.5);
}

.blog-item {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-bottom: 12px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e4e7ee;
}

.blog-item .post-thumb {
  flex-shrink: 0;
  position: relative;
  display: inline-block;
  margin-right: 15px;
  width: 100px;
  height: 80px;
  background-color: #F6F5FC;
  overflow: hidden;
}

.blog-item .post-thumb img {
  width: auto;
  height: 100%;
}

.blog-item .post-title a {
  color: #8e8aad;
  transition: all .2s ease;
}

.blog-item .post-title a:hover {
  color: #6C55F9;
  text-decoration: none;
}

.blog-item .meta a {
  margin-right: 6px;
  font-size: 12px;
  color: #645F88;
}

.blog-item .meta a:hover {
  text-decoration: none;
}

.tag-cloud-link {
  display: inline-block;
  margin-bottom: 6px;
  padding: 4px 10px;
  font-size: 13px;
  background-color: #EDECF5;
  color: #645F88;
  border-radius: 3px;
  transition: all .2s ease;
}

.tag-cloud-link:hover {
  background-color: #645F88;
  color: #fff;
  text-decoration: none;
}


.maps-container {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #F6F5FC;
  overflow: hidden;
}

#google-maps {
  width: 100%;
  height: 100%;
}

.custom-img-1 {
  width: auto;
  max-width: 390px;
}

.custom-index {
  z-index: 11;
}


/* Custom Plugin */
.owl-nav {
  display: block;
  margin: 15px auto;
  text-align: center;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  display: inline-block;
  padding: 6px 0 !important;
  background-color: #00D9A5;
  color: #fff;
}

.owl-carousel .owl-nav button.owl-next {
  padding-right: 14px !important;
  padding-left: 7px !important;
  border-radius: 0 40px 40px 0;
}

.owl-carousel .owl-nav button.owl-prev {
  padding-right: 7px !important;
  padding-left: 14px !important;
  border-radius: 40px 0 0 40px;
}



*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #212121;
  text-decoration: none!important;
  opacity: 1
}

button:focus {
  outline: none;
}

ul,
li,
ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p {
  margin: 20px;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  color: #110f0a;
}

a {
  color: #ffffff;
  text-decoration: none;
  outline: none !important;
}

.layout_padding {
 padding-bottom: 0px;
 padding-top: 90px;
}


.header_main{ width: 100%; float: left; }
.main-menu ul>li a {
 line-height: 20px;
 font-size: 16px;
 display: block;
 font-weight: 500;
 color: #090400;
 padding: 22px 20px;
 text-transform: uppercase;
}
.main-menu ul {
 margin: 0;
 list-style-type: none;
 margin-bottom: 10px;
}
ul, li, ol {
 margin: 0px;
 padding: 0px;
 list-style: none;
}

nav.main-menu {
 float: right;
 margin-left: 0;
}

.taital{
margin-top: 80px;
line-height: 80px;
}

.banner_section_start{
width: 100%;
float: left;
background-color: #fefcfb;
height: auto;
padding-top: 20px;
padding-bottom: 20px;
border-bottom: 1px solid #000;
}

.main-menu ul li:first-child {
 margin-left: 0;
}
.main-menu ul>li {
 position: inherit;
 display: inline-block;
 vertical-align: middle;
}

.mean-container .mean-bar { background: #ed1c24;}

.main-menu ul > li.active a{ background-color: #ed1c24; color: #ffffff; }

.carousel-indicators .active {
 background-color: #fa3e19;
}

.carousel-indicators li { background-color: #000; height: 10px;}

.carousel-control-next-icon, .carousel-control-prev-icon {
 display: inline-block;
 width: 40px;
 height: 40px;
 background: #fa3e19;
 background-size: 100% 100%;
 padding-top: 8px;
}

.carousel-control-next {
 right: 1080px;
}

.carousel-control-next, .carousel-control-prev {
 position: absolute;
 top: 200px;
}

.carousel-control-prev {
 left: -137px;
 top: 87px;
}
.fa { line-height: 3px! important;}


.banner_section{
width: 100%;
float: left;
}
.banner_taital{

width: 100%;

font-size: 40pt;
color: #000000;

}


.banner-image{
width: 100%;
float: left;
}

.lorem_text{
width: 100%;
float: left;
color: #44474b;
margin-left: 0px;
}

.bt_main{
width: 150px;
background-color: rgb(255, 88, 88);
height: 40px;
border-radius: 8px;
 border: 0px;
 color: #fff;

 }
 .bt_main :hover {
   color: #00D9A5;
 }

 .site-header__icons{
  display: flex;
  margin-left: 30px;
  margin-top: -5px;
  justify-content: center;
  align-items: center;
}
.site-header__icon{
  height: 20px;
  margin-left: 20px;
}


/* ------------------style dyal cards--------------------- */

.repeat-img {
  background-size: contain;
  background-repeat: repeat;
}

.menu-tab-wp {
  margin-bottom: 80px;
}

.menu-tab ul {
  padding: 10px;
  display: inline-block;
  border-radius: 60px;
  background: linear-gradient(145deg, #ececec, #ffffff);
  box-shadow: 28px 28px 55px #d4d4d4, -28px -28px 55px #ffffff;
  position: relative;
  z-index: 2;
}

.menu-tab ul li, .menu-tab ul .filter-active {
  display: inline-flex;
  text-transform: capitalize;
  font-size: 18px;
  line-height: normal;
  cursor: pointer;
  padding: 10px 26px;
  border-radius: 30px;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
}

.filter-active {
  position: absolute;
  left: 0;
  top: 12px;
  min-height: 50px;
  z-index: -1;
}

.menu-tab ul li img {
  margin-right: 10px;
  position: relative;
  top: 1px;
}

.menu-tab ul .filter-active {
  color: #ffffff;
  width: 160px;
  background: linear-gradient(145deg, #fd4f4f, #ff0000);
}

.menu-list-row .bydefault_show .dish-box-wp {
  display: inline-block !important;
}

.dish-box-wp {
  display: none;
}

.dish-box {
  width: 300px;
  border-radius: 30px;
  background: rgb(228, 68, 68);
  box-shadow: 28px 28px 45px #d4d4d4, -28px -28px 45px #ffffff;
  display: flow-root;
  padding: 0 30px 40px;
  padding-top: 0;
  margin: 130px 0 30px;
  transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
}



.dist-img {

  margin-top: -130px;
  margin-bottom: 30px;
}

.dist-img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}



.dish-title {
  padding: 0 10px;
}
.dish-title .h3-title {
  text-transform: capitalize;
  color: #ffffff;
  font-size: 18px;
  transition: 0.3s;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 900;
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}


.dish-info ul, .dist-bottom-row ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.dish-info ul li {
  display: inline-block;
  flex: 1;
  color: #fff;
}

.dish-info ul li:last-child {
  text-align: right;
  border-left: 2px solid rgba(22, 3, 3, 0.459);
}
.dish-info p{
  color: #fff;
}

.dist-bottom-row ul li:last-child {
  text-align: right;
}

.dish-info ul li {
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 2px;
  font-weight: 300;
}

.dish-info ul li b p  {
  font-weight: 600;

}
.gg{
  margin-right: 40px;
}


.dish-info {
  border-bottom: 2px solid rgb(204 204 204 / 30%);
  margin: 30px 0 30px;
  padding-bottom: 30px;
}

.dist-bottom-row ul li {
  display: flex;
  align-items: center;
}

.dist-bottom-row ul li b {
  font-size: 18px;
  color: #fff;
}

.dish-add-btn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  transition: 0.3s;
  background: linear-gradient(145deg, #ffc954, #ffbc00);
  box-shadow: inset 4px 4px 8px #d6a029, inset -4px -4px 8px #ffd837;
}

.dish-add-btn i {
  color: #ffffff;
  font-size: 22px;
}

.dish-add-btn:hover {
  background: linear-gradient(145deg, #e3a92b, #ffc933);
}
.h2-title {
  font-size: 36px;
  margin-bottom: 15px;
  text-transform: capitalize;
  position: relative;
}
.h3-title {
  padding: 0%;
}


/* --------------------------- */
label{
  color: red;
}
/*=============== SERVICES ===============*/

.button-link {
  background: none;
  padding: 0;
  color: var(--title-color);
}

.section__title, .section__title-center {
  display: block;
  color: #000000;
    font-weight: 600;
   font-size: 30px;
   line-height: 40px;
  margin-bottom: 8px;
  text-align: center;

}

.svg__color {
  fill: var(--first-color);
}

.svg__blob {
  fill: var(--first-color-light);
}

.svg__img {
  width: 300px;
  justify-self: center;
}



.grid {
  display: grid;
  gap: 1.5rem;
}

.services__container {
  padding-top: 1rem;
}

.services__data {
  display: grid;
  row-gap: 1rem;
  background-color: #fff;
  color: #000;

  box-shadow: 0px 2px 6px hsla(var(--hue), 100%, 15%, 0.15);
  padding: 2rem 1.5rem;
  border-radius: 1rem;
  text-align: center;
}

.services__img {
  width: 135px;
  justify-self: center;
  margin-bottom: var(--mb-0-5);
}

/*=============== APP ===============*/
.app__container {
  gap: 2.5rem;
}

.app__data {
  text-align: center;
}

.app__description {
  margin-bottom: var(--mb-1-5);
}

.app__buttons {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  margin-top: 20px;
  margin-left: -100px;
  gap: .5rem;
}
.section__title{
font-size: 30px;
display: block;
}


.titlted{
color: #F5F9F6;
font-size: 23px;
/* font-weight: 700;
position: absolute;
text-align: start; */
padding-top: 10px;
padding-left: 13px;

}
.stut{
  background: rgb(236, 47, 47); border-radius: 50%; width: 50px; height: 50px;
  align-items: baseline;
}

.app_status{
  margin-bottom: -30px;
}
.button__icon{
font-size: 40px;
display: inline block;
}
.titlestor{
  padding-left: 10px; margin-top: 5px;
  font-size: 20px;
}
/* ========================================================= */
.aboutus{
  display: flex; width: 600px;
}
.abut{
  display: inline; text-align: center; align-items: center;
}
.abut p{
  margin-top: 7px;
  color: rgb(54, 52, 52);
}
/* -------------cloud--------------- */
.cloud{
  position: absolute;filter: blur(5px);
  background-position: center;
  background-size: cover;

    width: 100%;
}

.nav-link {
    color: rgb(31, 30, 30);
    text-align: center;

}
.nav-link  {
   font-size: 20px;

}

.dropdown-menu{
    background-color: rgb(240, 100, 100);
    width: 35px;
    color: #fff;
    border-top-right-radius:30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

}
.dropdown-menu a{
    color: #fff;
}
.dropdown-menu a:hover{
    color: rgb(66, 243, 60);
}

/* ------------------------------------pay-- */

.progress-checkout-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.progress-step-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.step-check{
    background-color: rgb(139, 226, 68);
    height: 30px;
    width: 30px;
    border-radius: 30px;
    margin-bottom: 1rem;
    position: relative;
    background-image: url(../../Resources/check.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
}



.step-check::after{
    content: "";
    width: 15vw;
    height: 2px;
    background-color: inherit;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateX(100%) translateY(-50%);
}

.step-title{
    color: grey;
}

.form-container{
    width: 60%;
    margin-top: 6rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.form-title{
    font-size: 36px;
    margin-bottom: 2.5rem;
    font-weight: 500;
    opacity: 0.8;
}

.checkout-form{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.input-line{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 100%;
}
.input-line label{
    font-size: 16px;
    color: grey;
    margin-bottom: 0.5rem;
}



input[type="text"]{
    width: 100%;
    height: 40px;
    padding: 0 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}

input[type="text"]::placeholder{
    font-size: 14px;
    color: #b9b9b9;
}

.input-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.input-container .input-line{
    width: 48%;
}

.button{
    background-color: rgb(101, 211, 73);
    color: white;
    font-weight: 500;
    font-size: 18px;
    height: 50px;
    padding-bottom: 20px;
    padding: 0 30px;
    padding-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover{
    color: #fff;
    background-color: rgb(63, 185, 26);
}
/* ......................... */

/* Store info section styles*/
.storeInfo__wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
}
.storeInfo__item {
	background-color: #00D9A5;
	padding: 20px 30px;
	text-align: center;
	text-align: center;
	border-radius: 12px;
	width: 150px;
}
.storeInfo__icon {
	width: 30px;
	margin: 0 auto;
	margin-bottom: 1.5rem;
}
.storeInfo__title {
	font-size: 1.4rem;
	font-family: Poppins;
	font-weight: 500;
	margin-bottom: 0.5rem;
	color: var(--black-1);
}
.storeInfo__text {
	font-size: 1.4rem;
	font-family: Raleway;
	color: var(--black-2);
}
@media only screen and (min-width: 768px) {
	.storeInfo__wrapper {
		gap: 2rem;
	}
	.storeInfo__item {
		min-width: 200px;
		padding: 40px 0;
	}
	.storeInfo__icon {
		width: 47px;
		margin-bottom: 2.5rem;
	}
	.storeInfo__title {
		font-size: 1.8rem;
		margin-bottom: 1rem;
	}
	.storeInfo__text {
		font-size: 1.6rem;
	}
}

/* Dishes Grid */
.dishGrid__title {
	font-size: 1.8rem;
	margin-bottom: 2rem;
	font-weight: 600;
	color: var(--black-1);
}
.dishGrid__wrapper {
	display: grid;
	/* grid-template-columns: repeat(autofit, minmax(140px, 1fr)); */
	grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
	gap: 1rem;
}
.dishGrid__item {
	display: flex;
	flex-direction: column;
	background-color: var(--lightGreen-1);
	padding: 0.5rem;
	border-radius: 8px;
	gap: 0.5rem;
}
.dishGrid__item__img {
	flex: 4;
}
.dishGrid__item__info {
	flex: 5;
}
.dishGrid__item__img img {
	object-fit: cover;
	border-radius: 12px;
}
.dishGrid__item__title {
	font-size: 1.4rem;
	line-height: 1.3em;
	font-weight: 500;
	color: var(--black-1);
	margin-bottom: 0.5rem;
}
.dishGrid__item__price {
	font-size: 1.4rem;
	color: var(--green-1);
	font-weight: 600;
	margin-bottom: 0.5rem;
}
.dishGrid__item__stars {
	max-height: 15px;
	width: max-content;
}
@media only screen and (min-width: 768px) {
	.dishGrid__title {
		font-size: 2.4rem;
	}
	.dishGrid__wrapper {
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
		gap: 3rem;
	}
	.dishGrid__item {
		flex-direction: row;
		padding: 1.5rem;
		border-radius: 12px;
		gap: 1rem;
	}
	.dishGrid__item__title {
		font-size: 2.4rem;
		margin-bottom: 1rem;
	}
	.dishGrid__item__price {
		font-size: 2rem;
		margin-bottom: 1rem;
	}
}
/* Dishes Grid */

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
@media screen and (max-width: 360px) {
  .svg__img {
    width: 100%;
  }
  .section {
    padding: 3.5rem 0 1rem;
  }
  .services__img {
    width: 100px;
  }
  .app__buttons {
    grid-template-columns: max-content;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .svg__img {
    width: 100%;
  }
  .section__title-center {
    text-align: initial;
  }
  .home__container,
  .about__container,
  .security__container,
  .services__container,
  .app__container,
  .contact__container,
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .home__img {
    order: 1;
  }
  .home__container,
  .about__container,
  .security__container,
  .app__container,
  .contact__container {
    align-items: center;
  }
  .about__data,
  .security__data,
  .app__data,
  .contact__description {
    text-align: initial;
  }
  .about__img,
  .app__img {
    order: -1;
  }
}



/* For large devices */
@media screen and (min-width: 968px) {
  .button__header {
    display: block;
  }
  .svg__img {
    width: 470px;
  }
  .about__container,
  .security__container,
  .app__container,
  .contact__container {
    column-gap: 6rem;
  }
  .services__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .contact__container {
    grid-template-columns: 3fr 1.5fr 1.25fr;
  }
  .footer__container {
    grid-template-columns: repeat(5, 1fr);
  }
  .footer__social {
    align-items: flex-start;
  }
  .footer__social-link {
    font-size: 1.45rem;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .home__img {
    width: 540px;
  }
  .home__description {
    padding-right: 5rem;
  }
  .footer__container {
    column-gap: 3rem;
  }
  .scrollup {
    right: 2rem;
  }
}

